line-bot-sdk==1.8.0
future==0.17.1
requests==2.19.1
Flask== 1.0.2
click==6.7
itsdangerous==0.24
Jinja2==2.11.3
MarkupSafe==1.0
Werkzeug==0.14.1
bottle==0.12.13
certifi==2018.8.24
chardet==3.0.4
idna==2.7
oauthlib==2.1.0
urllib3==1.23
python-dotenv==0.9.1